body{
    background-color: moccasin;
}
h1{
    color: brown;
}
.menu{
    display: flex; 
    justify-content: center; 
}
.menu li{
    display: inline;
    align-items: center;
    margin: auto;
    position: relative;
}
.yazi{
    color:brown;
}
h5{
    text-align: center;
    background-color:brown;
    color: azure;
    border-radius: 40%;
    border-width: 50cm;
    margin-left: 10cm;   
    margin-right: 15cm;   
}
.list1{
    display: flex;
    justify-content: center; 
}
.list2{
    display: flex;
    justify-content: center;
}
.son{
    display: flex;
    justify-content: flex-end;
}